.filter-main-container {
  display: flex;
  width: 90%;
  min-height: 600px;
  margin: auto;
  padding: 25px;
  justify-content: center;
}

.filter-main-container .sort-container {
  min-height: 250px;
  background: white;
  flex-grow: 1;
  min-width: 200px;
  padding-top: 20px;
}

.sort-container-small{
  display: none ;
}

.filter-main-container .product-container {
  margin-left: 2px;
  background: white;
  padding: 10px;
  flex-grow: 3;
  min-height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width : 492px){
  .sort-container{
    display: none ;
  }

  .sort-container-small{
    display: inline ;
    position: absolute ;
    left : 0 ;
  }

  .product-container{
    margin-left: 50px ;
  }
}
