.mainDivInF5 {
  width: 93%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15px auto auto auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.fifth1 {
  display: flex;
  width: 10%;
  height: 100%;
  align-items: center;
  color: #ffffff;
  justify-content: center;
  background-color: #e53935;
}

.textIn5th1 {
  font-size: 20px;
  border: 0;
  margin: 0;
  letter-spacing: 2px;
  transform: rotate(270deg);
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.fifth2 {
  width: 35%;
  height: 100%;
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  background-color: #ef5350;
}

.textIn5th2 {
  margin: 0px;
  font-size: 180%;
  border: solid 2px;
  padding: 10px;
}

.fifth3 {
  width: 55%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
}

.imgIn5th3 {
  width: 45%;
  max-height: 90% ;
  margin: auto;
}

.textIn5th3 {
  width: 55%;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ef5350;
  font-size: 200%;
}

@media screen and (max-width: 600px) {
  .mainDivInF5 {
    margin-top: 50px;
    flex-direction: column;
    padding: 10px;

  }
  .fifth1 {
    width: 100%;
    height: 100%;
  }
  .textIn5th1 {
    transform: rotate(0deg);
    align-self: center;
  }
  .fifth2 {
    width: 100%;
  }
  .fifth3 {
    width: 100%;
    text-align: left;
  }
  .imgIn5th3 {
    width: 40%;

    margin: auto;
  }
  .textIn5th3{
    margin-bottom: 0px;
  }
}
