.head1 {
  width: 100%;
  padding: 5px;
  font-size: 15px;
  display: flex;
  flex-direction: row-reverse;
}
.headWrap {
  background-color: #fff;
}
.head1 div {
  align-self: center;
}
.head2 {
  width: 100%;
  color: white;
  padding: 5px;
  display: flex;
}
.head3 {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  
}
.head22 {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-around;
  color: #fff;
}
.head21 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
}
.select {
  width: 20%;
  margin: 4px;
}
.search {
  width: 57%;
  margin: 3px;
}

.arrow-anim {
  margin-right: 15px;
  transition: 0.3s;
}

.arrow-anim:hover {
  margin-right: 20px;
}

.header-avatar {
  align-self: center;
  margin-left: 15px;
  font-size: 22px;
  cursor: pointer;
}
.hamburger {
  display: none;
}
.search-button {
  cursor: pointer;
  margin: "3px";
  width: 150px;
  background-color: #63b5f5;
  color: #fff;
  justify-content: center;
  align-self: center;
  padding: 6px;
  border-radius: 20px;
}

@media only screen and (max-width: 600px) {
  .select {
    display: none;
  }

  .hamburger {
    width: 50px;
    height: 33px;
    align-self: center;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .hamSpan {
    height: 6px;
    border-radius: 10px;
    background-color: #fff;
    width: 42px;
  }
  .head22 {
    flex-direction: row;
  }
  .head3 {
    display: flex;
  }

  .select {
    width: 60%;
    font-size: 100%;
  }
  .search {
    width: 50%;
  }
  .search-button {
    width: 30%;
    min-width: 93px;
  }
}
