.head1 {
  width: 100%;
  padding: 5px;
  font-size: 15px;
  display: flex;
  flex-direction: row-reverse;
}
.headWrap {
  background-color: #fff;
}
.head1 div {
  align-self: center;
}
.head2 {
  width: 100%;
  color: white;
  padding: 5px;
}
.head3 {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.head22 {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: #fff;
}
.head21 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
}
.select {
  width: 20%;
  margin: 4px;
}
.search {
  width: 58%;
  margin: 3px;
}

.arrow-anim {
  margin-right: 15px;
  transition: 0.3s;
}

.arrow-anim:hover {
  margin-right: 20px;
}

.header-avatar {
  align-self: center;
  margin-left: 15px;
  font-size: 22px;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .head3 {
    width: 100%;
  }
  .select {
    width: 60%;
    font-size: 100%;
  }
  .search {
    width: 50%;
  }
}
