.Home {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-header {
  display: flex;
  margin: 25px;
}
.home-category {
  padding: 10px;
  height: 700px;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  margin-right: 20px;
}
